<!DOCTYPE html>
<html lang="en" ng-app="hallofbeorn">
    <head>
        <title>Hall of Beorn Sets</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="robots" content="noindex, nofollow" />
        <!--<link rel="shortcut icon" href="assets/images/favicon.ico" />-->
        <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <!-- Fancybox CSS-->
        <link rel="stylesheet" href="assets/fancybox/css/jquery.fancybox.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    </head>
    <body ng-controller="SetController" ng-cloak>
        <div class="container p-2">
            <h2 class="m-3 text-center">Hall of Beorn Card Sets</h2>
            <form id="setForm" name="setForm" action="./handler.php" method="POST" target="_blank">
                <input id="action" type="hidden" name="action" value="show" />
                <div class="form-group row">
                    <label for="set" class="col-sm-2 col-form-label">Card Set</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="set" name="set">
                            <option value="Any">Any</option>
                            <option value="Core Set">Core Set</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="SHADOWS OF MIRKWOOD">SHADOWS OF MIRKWOOD</option>
                            <option value="The Hunt for Gollum">The Hunt for Gollum</option>
                            <option value="Conflict at the Carrock">Conflict at the Carrock</option>
                            <option value="A Journey To Rhosgobel">A Journey To Rhosgobel</option>
                            <option value="The Hills of Emyn Muil">The Hills of Emyn Muil</option>
                            <option value="The Dead Marshes">The Dead Marshes</option>
                            <option value="Return to Mirkwood">Return to Mirkwood</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="Khazad-dûm">Khazad-d&#251;m</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="DWARROWDELF">DWARROWDELF</option>
                            <option value="The Redhorn Gate">The Redhorn Gate</option>
                            <option value="Road to Rivendell">Road to Rivendell</option>
                            <option value="The Watcher in the Water">The Watcher in the Water</option>
                            <option value="The Long Dark">The Long Dark</option>
                            <option value="Foundations of Stone">Foundations of Stone</option>
                            <option value="Shadow and Flame">Shadow and Flame</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="Heirs of Númenor">Heirs of N&#250;menor</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="AGAINST THE SHADOW">AGAINST THE SHADOW</option>
                            <option value="The Steward&#39;s Fear">The Steward&#39;s Fear</option>
                            <option value="The Drúadan Forest">The Dr&#250;adan Forest</option>
                            <option value="Encounter at Amon Dîn">Encounter at Amon D&#238;n</option>
                            <option value="Assault on Osgiliath">Assault on Osgiliath</option>
                            <option value="The Blood of Gondor">The Blood of Gondor</option>
                            <option value="The Morgul Vale">The Morgul Vale</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="The Voice of Isengard">The Voice of Isengard</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="THE RING-MAKER">THE RING-MAKER</option>
                            <option value="The Dunland Trap">The Dunland Trap</option>
                            <option value="The Three Trials">The Three Trials</option>
                            <option value="Trouble in Tharbad">Trouble in Tharbad</option>
                            <option value="The Nîn-in-Eilph">The N&#238;n-in-Eilph</option>
                            <option value="Celebrimbor&#39;s Secret">Celebrimbor&#39;s Secret</option>
                            <option value="The Antlered Crown">The Antlered Crown</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="The Lost Realm">The Lost Realm</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="ANGMAR AWAKENED">ANGMAR AWAKENED</option>
                            <option value="The Wastes of Eriador">The Wastes of Eriador</option>
                            <option value="Escape from Mount Gram">Escape from Mount Gram</option>
                            <option value="Across the Ettenmoors">Across the Ettenmoors</option>
                            <option value="The Treachery of Rhudaur">The Treachery of Rhudaur</option>
                            <option value="The Battle of Carn Dûm">The Battle of Carn D&#251;m</option>
                            <option value="The Dread Realm">The Dread Realm</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="The Grey Havens">The Grey Havens</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="DREAM-CHASER">DREAM-CHASER</option>
                            <option value="Flight of the Stormcaller">Flight of the Stormcaller</option>
                            <option value="The Thing in the Depths">The Thing in the Depths</option>
                            <option value="Temple of the Deceived">Temple of the Deceived</option>
                            <option value="The Drowned Ruins">The Drowned Ruins</option>
                            <option value="A Storm on Cobas Haven">A Storm on Cobas Haven</option>
                            <option value="The City of Corsairs">The City of Corsairs</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="The Sands of Harad">The Sands of Harad</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="HARADRIM">HARADRIM</option>
                            <option value="The Mûmakil">The M&#251;makil</option>
                            <option value="Race Across Harad">Race Across Harad</option>
                            <option value="Beneath the Sands">Beneath the Sands</option>
                            <option value="The Black Serpent">The Black Serpent</option>
                            <option value="The Dungeons of Cirith Gurat">The Dungeons of Cirith Gurat</option>
                            <option value="The Crossings of Poros">The Crossings of Poros</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="THE HOBBIT">THE HOBBIT</option>
                            <option value="The Hobbit: Over Hill and Under Hill">The Hobbit: Over Hill and Under Hill</option>
                            <option value="The Hobbit: On the Doorstep">The Hobbit: On the Doorstep</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="THE LORD OF THE RINGS">THE LORD OF THE RINGS</option>
                            <option value="The Black Riders">The Black Riders</option>
                            <option value="The Road Darkens">The Road Darkens</option>
                            <option value="The Treason of Saruman">The Treason of Saruman</option>
                            <option value="The Land of Shadow">The Land of Shadow</option>
                            <option value="The Flame of the West">The Flame of the West</option>
                            <option value="The Mountain of Fire">The Mountain of Fire</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="GENCON">GENCON</option>
                            <option value="The Massing at Osgiliath">The Massing at Osgiliath</option>
                            <option value="The Battle of Lake-town">The Battle of Lake-town</option>
                            <option value="The Stone of Erech">The Stone of Erech</option>
                            <option value="The Ruins of Belegost">The Ruins of Belegost</option>
                            <option value="The Old Forest">The Old Forest</option>
                            <option value="Fog on the Barrow-downs">Fog on the Barrow-downs</option>
                            <option value="Murder at the Prancing Pony">Murder at the Prancing Pony</option>
                            <option value="The Siege of Annúminas">The Siege of Ann&#250;minas</option>
                            <option value="Assault on Dol Guldur">Assault on Dol Guldur</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="NIGHTMARE">NIGHTMARE</option>
                            <option value="Passage Through Mirkwood Nightmare">Passage Through Mirkwood Nightmare</option>
                            <option value="Journey Along the Anduin Nightmare">Journey Along the Anduin Nightmare</option>
                            <option value="Escape From Dol Guldur Nightmare">Escape From Dol Guldur Nightmare</option>
                            <option value="The Hunt for Gollum Nightmare">The Hunt for Gollum Nightmare</option>
                            <option value="Conflict at the Carrock Nightmare">Conflict at the Carrock Nightmare</option>
                            <option value="A Journey to Rhosgobel Nightmare">A Journey to Rhosgobel Nightmare</option>
                            <option value="The Hills of Emyn Muil Nightmare">The Hills of Emyn Muil Nightmare</option>
                            <option value="The Dead Marshes Nightmare">The Dead Marshes Nightmare</option>
                            <option value="Return to Mirkwood Nightmare">Return to Mirkwood Nightmare</option>
                            <option value="Into the Pit Nightmare">Into the Pit Nightmare</option>
                            <option value="The Seventh Level Nightmare">The Seventh Level Nightmare</option>
                            <option value="Flight from Moria Nightmare">Flight from Moria Nightmare</option>
                            <option value="The Redhorn Gate Nightmare">The Redhorn Gate Nightmare</option>
                            <option value="Road to Rivendell Nightmare">Road to Rivendell Nightmare</option>
                            <option value="The Watcher in the Water Nightmare">The Watcher in the Water Nightmare</option>
                            <option value="The Long Dark Nightmare">The Long Dark Nightmare</option>
                            <option value="Foundations of Stone Nightmare">Foundations of Stone Nightmare</option>
                            <option value="Shadow and Flame Nightmare">Shadow and Flame Nightmare</option>
                            <option value="Peril in Pelargir Nightmare">Peril in Pelargir Nightmare</option>
                            <option value="Into Ithilien Nightmare">Into Ithilien Nightmare</option>
                            <option value="The Siege of Cair Andros Nightmare">The Siege of Cair Andros Nightmare</option>
                            <option value="The Steward&#39;s Fear Nightmare">The Steward&#39;s Fear Nightmare</option>
                            <option value="The Drúadan Forest Nightmare">The Dr&#250;adan Forest Nightmare</option>
                            <option value="Encounter at Amon Dîn Nightmare">Encounter at Amon D&#238;n Nightmare</option>
                            <option value="Assault on Osgiliath Nightmare">Assault on Osgiliath Nightmare</option>
                            <option value="The Blood of Gondor Nightmare">The Blood of Gondor Nightmare</option>
                            <option value="The Morgul Vale Nightmare">The Morgul Vale Nightmare</option>
                            <option value="The Fords of Isen Nightmare">The Fords of Isen Nightmare</option>
                            <option value="To Catch an Orc Nightmare">To Catch an Orc Nightmare</option>
                            <option value="Into Fangorn Nightmare">Into Fangorn Nightmare</option>
                            <option value="The Dunland Trap Nightmare">The Dunland Trap Nightmare</option>
                            <option value="The Three Trials Nightmare">The Three Trials Nightmare</option>
                            <option value="Trouble in Tharbad Nightmare">Trouble in Tharbad Nightmare</option>
                            <option value="The Nîn-in-Eilph Nightmare">The N&#238;n-in-Eilph Nightmare</option>
                            <option value="Celebrimbor&#39;s Secret Nightmare">Celebrimbor&#39;s Secret Nightmare</option>
                            <option value="The Antlered Crown Nightmare">The Antlered Crown Nightmare</option>
                            <option value="Intruders in Chetwood Nightmare">Intruders in Chetwood Nightmare</option>
                            <option value="The Weather Hills Nightmare">The Weather Hills Nightmare</option>
                            <option value="Deadmen&#39;s Dike Nightmare">Deadmen&#39;s Dike Nightmare</option>
                            <option value="The Wastes of Eriador Nightmare">The Wastes of Eriador Nightmare</option>
                            <option value="Escape from Mount Gram Nightmare">Escape from Mount Gram Nightmare</option>
                            <option value="Across the Ettenmoors Nightmare">Across the Ettenmoors Nightmare</option>
                            <option value="The Treachery of Rhudaur Nightmare">The Treachery of Rhudaur Nightmare</option>
                            <option value="The Battle of Carn Dûm Nightmare">The Battle of Carn D&#251;m Nightmare</option>
                            <option value="The Dread Realm Nightmare">The Dread Realm Nightmare</option>
                            <option value="Voyage Across Belegaer Nightmare">Voyage Across Belegaer Nightmare</option>
                            <option value="The Fate of Númenor Nightmare">The Fate of N&#250;menor Nightmare</option>
                            <option value="Raid on the Grey Havens Nightmare">Raid on the Grey Havens Nightmare</option>
                            <option value="We Must Away, Ere Break of Day Nightmare">We Must Away, Ere Break of Day Nightmare</option>
                            <option value="Over the Misty Mountains Grim Nightmare">Over the Misty Mountains Grim Nightmare</option>
                            <option value="Dungeons Deep and Caverns Dim Nightmare">Dungeons Deep and Caverns Dim Nightmare</option>
                            <option value="Flies and Spiders Nightmare">Flies and Spiders Nightmare</option>
                            <option value="The Lonely Mountain Nightmare">The Lonely Mountain Nightmare</option>
                            <option value="The Battle of Five Armies Nightmare">The Battle of Five Armies Nightmare</option>
                            <option value="A Shadow of the Past Nightmare">A Shadow of the Past Nightmare</option>
                            <option value="A Knife in the Dark Nightmare">A Knife in the Dark Nightmare</option>
                            <option value="Flight to the Ford Nightmare">Flight to the Ford Nightmare</option>
                            <option value="The Ring Goes South Nightmare">The Ring Goes South Nightmare</option>
                            <option value="Journey in the Dark Nightmare">Journey in the Dark Nightmare</option>
                            <option value="Breaking of the Fellowship Nightmare">Breaking of the Fellowship Nightmare</option>
                            <option value="The Uruk-hai Nightmare">The Uruk-hai Nightmare</option>
                            <option value="Helm&#39;s Deep Nightmare">Helm&#39;s Deep Nightmare</option>
                            <option value="The Road to Isengard Nightmare">The Road to Isengard Nightmare</option>
                            <option value="The Passage of the Marshes Nightmare">The Passage of the Marshes Nightmare</option>
                            <option value="Journey to the Cross-roads Nightmare">Journey to the Cross-roads Nightmare</option>
                            <option value="Shelob&#39;s Lair Nightmare">Shelob&#39;s Lair Nightmare</option>
                            <option disabled="disabled" value="————————————————————">————————————————————</option>
                            <option value="First Age">First Age</option>
                            <option value="DOOM MASTERED">DOOM MASTERED</option>
                            <option value="Trial Upon the Marches">Trial Upon the Marches</option>
                            <option value="Among the Outlaws">Among the Outlaws</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary mt-1" type="button" ng-click="handleAction('show')" ng-disabled="ajaxLoading">Show</button>
                <button class="btn btn-info mt-1" type="button" ng-click="handleAction('pdf')">PDF</button>
                <button class="btn btn-dark mt-1" type="button" ng-click="handleAction('download')">Download</button>
                <button class="btn btn-warning mt-1" type="button" ng-click="clearImages()" ng-if="images.length">Clear</button>
                <button class="btn btn-light float-right mt-2" type="button" ng-click="handleAction('pdftest')" title="Κατέβασε το Hunt for gollum και unzip μέσα στον φάκελο photos">PDF test</button>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="container-fluid" ng-show="images.length">
            <h3 class="text-center">{{set}}</h3>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" ng-repeat="image in images">
                    <div class="card m-3">
                        <a ng-href="{{image.src}}" class="fancybox" rel="group">
                            <img class="card-img-top" ng-src="{{image.src}}" alt="{{image.label}}">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title text-center">{{ sanitize(image.label)}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/js/jquery.js"></script>
        <script src="assets/fancybox/js/jquery.fancybox.min.js"></script>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/SetController.js"></script>
    </body>
</html>